In [1]:
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [2]:
driver=webdriver.Chrome()
driver.get("https://register-of-charities.charitycommission.gov.uk/charity-search?p_p_id=uk_gov_ccew_portlet_CharitySearchPortlet&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&_uk_gov_ccew_portlet_CharitySearchPortlet_mvcRenderCommandName=%2Fadvanced-search")

In [3]:
cross_button=driver.find_element(By.ID, "_com_placecube_cookieconsent_web_portlet_CookieConsentPortlet_cookie-consent-close")
cross_button.click()

In [4]:
txt1=driver.find_element(By.ID,"_uk_gov_ccew_portlet_CharitySearchPortlet_filterExpenditureFrom")
txt1.send_keys("200000")

In [5]:
txt1=driver.find_element(By.ID,"_uk_gov_ccew_portlet_CharitySearchPortlet_filterExpenditureTo")
txt1.send_keys("400000")

In [6]:
searchbutton=driver.find_element(By.ID, "_uk_gov_ccew_portlet_CharitySearchPortlet_applyFilters")
searchbutton.click()

In [7]:
table = driver.find_element(By.ID, "_uk_gov_ccew_portlet_CharitySearchPortlet_search-result-entries")

table_data = []

rows = table.find_elements(By.TAG_NAME, "tr")

for row in rows:
    row_data = []
    cells = row.find_elements(By.TAG_NAME, "td")
    for cell in cells:
        row_data.append(cell.text)
    table_data.append(row_data)
    
# Print the stored table data
for row_data in table_data:
    print(row_data)

[]
['200027', 'RURAL MINISTRIES', 'Registered', '£235,579', 'Received: On time']
['200097', 'BARTON AND ROYLE HOMES', 'Registered', '£125,888', 'Received: On time']
['200166', "MRS JANE CART'S TRUST", 'Registered', '£184,581', 'Received: On time']
['200176', 'THE HOSPITAL OF ST JOHN THE BAPTIST', 'Registered', '£327,798', 'Received: On time']
['200183', 'LEATHERHEAD UNITED CHARITIES', 'Registered', '£340,675', 'Received: On time']
['200290', 'THE MRS HENRIETTA FRANCES LE PERSONNE BENEVOLENT TRUST', 'Registered', '£379,428', 'Received: On time']
['200606', 'PARTIS COLLEGE', 'Registered', '£285,485', 'Received: On time']
['200669', 'HOSPITAL OF ST JOHN HEYTESBURY', 'Registered', '£319,593', 'Received: On time']
['200671', 'NEWBURY MUNICIPAL CHARITIES', 'Registered', '£176,056', 'Received: On time']
['200843', 'THE NORTH STAFFORDSHIRE MEDICAL INSTITUTE LIMITED', 'Registered', '£260,834', 'Received: On time']
['201030', 'MID THAMES AREA QUAKER MEETING AND RELATED CHARITIES', 'Registered', '£291,852', 'Received: On time']
['201105', "THE FRIENDS OF ST PETER'S HOSPITAL, CHERTSEY", 'Registered', '£1,701', 'Received: On time']
['201277', 'NORTHCOTT DEVON FOUNDATION', 'Registered', '£185,483', 'Received: On time']
['201291', 'ROYAL SOCIETY FOR THE PREVENTION OF CRUELTY TO ANIMALS - HANTS AND SURREY BORDER BRANCH', 'Registered', '£304,920', 'Received: On time']
['201418', 'BANBURY CHARITIES', 'Registered', '£436,290', 'Received: On time']
['201486', "SIR THOMAS WHITE'S NORTHAMPTON CHARITY", 'Registered', '£388,715', 'Received: On time']
['201574', 'KINGS CLIFFE ALMSHOUSE CHARITY', 'Registered', '£15,936', 'Received: On time']
['201589', 'THE EDGAR E LAWLEY FOUNDATION', 'Registered', '£205,707', 'Received: On time']
['201687', "THE ROYAL ALBERT AND ST SWITHUN'S HOMES", 'Registered', '£165,068', 'Received: 20 days late']
['201720', 'THE COLLEGE OF MATRONS', 'Registered', '£215,144', 'Received: On time']
['', '', '', '', '']

In [8]:
import csv
csv_file = 'firstpage-charity.csv'
#a-append
with open(csv_file, mode='a', newline='', encoding='utf-8') as file:
    writer = csv.writer(file)
    writer.writerows(table_data)

print(f"Table data has been written to {csv_file}.")

Table data has been written to firstpage-charity.csv.

In [18]:
table = driver.find_element(By.ID, "_uk_gov_ccew_portlet_CharitySearchPortlet_search-result-entries")

table_rows = table.find_elements(By.TAG_NAME, "tr")

list_of_links = []
for row in table_rows[1:]:                   #started from because 0th row has the heading links
    link_elements = row.find_elements(By.TAG_NAME, "a")
    link_list = []
    for i in link_elements:
        href = i.get_attribute("href")
        link_list.append(href)
    list_of_links.append(link_list)

In [19]:
for j in list_of_links:
    print(j)

['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200027']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200097']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200166']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200176']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200183']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200290']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200606']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200669']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200671']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/200843']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201030']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201105']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201277']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201291']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201418']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201486']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201574']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201589']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201687']
['https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/201720']
[]

In [22]:
import pandas as pd
data=pd.read_csv("firstpage-charity.csv")
data.head(2)

,Charity Number,Charity Name,Status,Income,Reporting
0,200027,RURAL MINISTRIES,Registered,"£235,579",Received: On time
1,200097,BARTON AND ROYLE HOMES,Registered,"£125,888",Received: On time

In [24]:
#logic from bard

links_df = pd.DataFrame(list_of_links, columns=[f'link_{i+1}' for i in range(len(list_of_links[1]))])

# Concatenate the DataFrames
result_df = pd.concat([data, links_df], axis=1)

# Save the updated DataFrame back to a new CSV file
result_df.to_csv('firstpage-withlinks.csv', index=False)

In [26]:
import pandas as pd
data=pd.read_csv("your_updated_file.csv")
data.head(2)

,Charity Number,Charity Name,Status,Income,Reporting,links
0,200027,RURAL MINISTRIES,Registered,"£235,579",Received: On time,https://register-of-charities.charitycommissio...
1,200097,BARTON AND ROYLE HOMES,Registered,"£125,888",Received: On time,https://register-of-charities.charitycommissio...